* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo{
  height: 40px;
}

:root {
  --primary: #10b290  ;
  --secondary: #6cc257;
  --white: #eee;
  --black: #111;
  --gradient: linear-gradient(to right, var(--primary), var(--secondary));
}

/* Design Laptop navbar  */
nav.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  background-color: var(--primary);
}

nav.navbar a.logo {
  text-decoration: none;
  color: var(--secondary);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 300;
}

nav.navbar a.logo span {
  font-weight: 900;
  font-family: sans-serif;
  font-size: 0.9rem;
}

nav.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

nav.navbar ul a {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  font-family: sans-serif;
  transition: 500ms;
}

nav.navbar ul a:hover {
  color: var(--secondary);
}

nav.navbar .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav.navbar .socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--secondary);
  text-decoration: none;
  border-radius: 5px;
}

nav.navbar .socials a i {
  color: var(--primary);
  font-size: 1.1rem;
}

/* Hiding the hamburger on laptop  */
nav.navbar .hamburger {
  color: var(--white);
  font-size: 1.5rem;
  transition: 200ms;
  cursor: pointer;
  display: none;
}

nav.navbar .hamburger:hover {
  color: var(--secondary);
}

/* Hiding Mobile Navbar on laptop view  */
.mobile-navbar {
  display: none;
}

/* Hero Section  */




/* Design for Mobile View  */
@media screen and (max-width:767px) {
  nav.navbar {
      padding-inline: 1rem;
  }

  nav.navbar ul {
      display: none;
  }

  nav.navbar .socials {
      display: none;
  }

  nav.navbar .hamburger {
      display: block;
  }

  /* styling the mobile nav  */
  .mobile-navbar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: 100vh;
      background-color: var(--primary);
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 999;
      padding-inline: 2rem;
      transition: 0.5s ease-out all;
  }

  .mobile-navbar header {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      padding-top: 1rem;
  }

  .mobile-navbar header .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      width: 100%;
  }

  .mobile-navbar header .top a {
      text-decoration: none;
      color: var(--secondary);
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 300;
  }

  .mobile-navbar header .top a span {
      font-weight: 900;
      font-family: sans-serif;
      font-size: 0.9rem;
  }

  .mobile-navbar header .top .hamburger {
      color: var(--white);
      font-size: 1.5rem;
      transition: 200ms;
  }

  .mobile-navbar header .top .hamburger:hover {
      color: var(--secondary);
  }

  .mobile-navbar header ul {
      list-style: none;
      display: flex;
      flex-direction: column;
  }

  .mobile-navbar header ul li {
      margin-bottom: 1.5rem;
  }

  .mobile-navbar header ul li a {
      text-decoration: none;
      color: var(--white);
      font-size: 1rem;
      font-family: sans-serif;
      transition: 200ms;
  }

  .mobile-navbar header ul li a:hover {
      color: var(--secondary);
      margin-left: 10px;
  }

  .mobile-navbar .socials {
      align-self: center;
      padding-bottom: 2rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
  }

  .mobile-navbar .socials a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      background-color: var(--secondary);
      text-decoration: none;
      border-radius: 5px;
  }

  .mobile-navbar .socials a i {
      color: var(--primary);
      font-size: 1.1rem;
  }

}

/* Design for iPad View  */
@media screen and (min-width:768px) and (max-width:1024px) {
  nav.navbar {
      padding-inline: 1rem;
  }

  nav.navbar ul {
      display: none;
  }

  nav.navbar .socials {
      display: none;
  }

  nav.navbar .hamburger {
      display: block;
  }

  /* styling the mobile nav  */
  .mobile-navbar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: 100vh;
      background-color: var(--primary);
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 999;
      padding-inline: 2rem;
      transition: 0.5s ease-out all;
  }

  .mobile-navbar header {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      padding-top: 1rem;
  }

  .mobile-navbar header .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      width: 100%;
  }

  .mobile-navbar header .top a {
      text-decoration: none;
      color: var(--secondary);
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 300;
  }

  .mobile-navbar header .top a span {
      font-weight: 900;
      font-family: sans-serif;
      font-size: 0.9rem;
  }

  .mobile-navbar header .top .hamburger {
      color: var(--white);
      font-size: 1.5rem;
      transition: 200ms;
  }

  .mobile-navbar header .top .hamburger:hover {
      color: var(--secondary);
  }

  .mobile-navbar header ul {
      list-style: none;
      display: flex;
      flex-direction: column;
  }

  .mobile-navbar header ul li {
      margin-bottom: 1.5rem;
  }

  .mobile-navbar header ul li a {
      text-decoration: none;
      color: var(--white);
      font-size: 1rem;
      font-family: sans-serif;
      transition: 200ms;
  }

  .mobile-navbar header ul li a:hover {
      color: var(--secondary);
      margin-left: 10px;
  }

  .mobile-navbar .socials {
      align-self: center;
      padding-bottom: 2rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
  }

  .mobile-navbar .socials a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      background-color: var(--secondary);
      text-decoration: none;
      border-radius: 5px;
  }

  .mobile-navbar .socials a i {
      color: var(--primary);
      font-size: 1.1rem;
  }
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: url(img/Ohhappiness.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}

.Container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Cambio para que se ajuste autom獺ticamente al tama簽o de la pantalla */
  gap: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px; /* Espaciado general */
}

.Container-Texto {
  font-family: 'Gabarito', sans-serif;
  font-size: larger;
  text-align: center; /* Alinea el texto al centro en dispositivos m籀viles */
}

.Container-Slogan-Titulo h1:hover,
.Container-Slogan-Slogan h3:hover {
  color: #54f9a9;
  transition: 0.5s;
  text-shadow: 4px 4px 4px 20px #000;
}

.Container-Slogan-Linea:hover {
  border: 3px solid #54f9a9;
  transition: 0.5s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.Container-Slogan-Titulo {
  align-content: baseline;
  font-size: 4vw;
}

.Container-Slogan-Linea {
  border: 3px solid #fff;
}

.Container-Slogan-Slogan {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
}

.imga {
  width: 70%;
  max-width: 100%; /* Asegura que la imagen no se desborde en pantallas peque簽as */
}

.Container-input {
  text-align: center;
  margin: 20px; /* Espacio entre el bot籀n y otros elementos */
}

.Boton {
  background-color: #4cf286; /* Color de fondo del bot籀n */
  color: #fff; /* Color del texto del bot籀n */
  border: none; /* Quitamos el borde del bot籀n */
  padding: 15px 30px; /* Aumentamos el espaciado interno del bot籀n */
  font-size: 1.5vw; /* Aumentamos el tama簽o de la letra del bot籀n */
  border-radius: 30px; /* Borde redondeado del bot籀n */
  cursor: pointer; /* Cambia el cursor al pasar sobre el bot籀n */
  transition: background-color 0.3s; /* Transici籀n de color de fondo al pasar el cursor */
}

.Boton:hover {
  background-color: #4cf286; /* Cambia el color de fondo al pasar el cursor sobre el bot籀n */
}

/* Responsividad */
/* Responsividad para tabletas */
/* Responsividad para tabletas */
@media (max-width: 1024px) {
  .Container {
      grid-template-columns: 1fr; /* Cambiamos a una sola columna en tabletas */
  }

  .Container-Slogan-Titulo {
      font-size: 9vw; /* Ajustamos el tama簽o del t穩tulo en tabletas */
  }

  .Boton {
      font-size: 4vw; /* Ajustamos el tama簽o del bot籀n para tabletas */
  }

  .Container-Texto {
      text-align: center; /* Alinea el texto al centro en tabletas */
      padding: 10px; /* Ajustamos el espaciado entre el texto y los bordes del contenedor */
  }

  .imga {
      width: 90%; /* Asegura que la imagen ocupe un ancho adecuado en tabletas */
  }

  .Container-Slogan-Slogan {
      font-size: 3vw; /* Ajustamos el tama簽o del texto del eslogan en tabletas */
  }

  .Container-Slogan-Linea {
      border: 2px solid #fff; /* Reducimos el grosor de la l穩nea en tabletas */
  }
}


@media (max-width: 768px) {
  .Container {
      grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos m籀viles */
  }

  .Container-Slogan-Titulo {
      align-content: baseline;
      font-size: 9vw;
  }

  .Boton {
      font-size: 4vw;
  }

  .Container-Slogan-Linea {
      border: 1px solid #fff;
  }

  .Container-Slogan-Slogan {
      margin-top: 2vw;
      font-size: 3vw;
  }

  .Container-Texto {
      text-align: center; /* Alinea el texto al centro en dispositivos m籀viles */
      padding: 0; /* Agrega espacio entre el texto y los bordes del contenedor */
  }

  .imga {
      width: 80%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
  }
}

  /* Footer */
.pie-pagina{
  width: 100%;
  background-color: hsla(153, 87%, 61%, 0.243);
  color: #000;
  margin-top: 9vh;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
} 
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 150px;
}
.pie-pagina .grupo-1 .box h2{
  color: #000;
  margin-bottom: 25px;
  font-size: 20px;
  
}
.pie-pagina .grupo-1 .box p{
  color: #000;
  margin-bottom: 5px;
  
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 90px;
  color: #000;
  margin-right: 10px;
  text-align: center;
  font-size: 30px;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: rgb(76, 249, 169);
}
.pie-pagina .grupo-2{ 
    background: url(img/Ohhappiness.jpg) no-repeat;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 150px;
    display: none;
  }
}