* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .logo{
    height: 40px;
  }
  
  :root {
    --primary: #10b290  ;
    --secondary: #6cc257;
    --white: #eee;
    --black: #111;
    --gradient: linear-gradient(to right, var(--primary), var(--secondary));
  }
  
  /* Design Laptop navbar  */
  nav.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    background-color: var(--primary);
  }
  
  nav.navbar a.logo {
    text-decoration: none;
    color: var(--secondary);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  
  nav.navbar a.logo span {
    font-weight: 900;
    font-family: sans-serif;
    font-size: 0.9rem;
  }
  
  nav.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  nav.navbar ul a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    font-family: sans-serif;
    transition: 500ms;
  }
  
  nav.navbar ul a:hover {
    color: var(--secondary);
  }
  
  nav.navbar .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  nav.navbar .socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: var(--secondary);
    text-decoration: none;
    border-radius: 5px;
  }
  
  nav.navbar .socials a i {
    color: var(--primary);
    font-size: 1.1rem;
  }
  
  /* Hiding the hamburger on laptop  */
  nav.navbar .hamburger {
    color: var(--white);
    font-size: 1.5rem;
    transition: 200ms;
    cursor: pointer;
    display: none;
  }
  
  nav.navbar .hamburger:hover {
    color: var(--secondary);
  }
  
  /* Hiding Mobile Navbar on laptop view  */
  .mobile-navbar {
    display: none;
  }
  
  /* Hero Section  */
  
  
  
  
  /* Design for Mobile View  */
  @media screen and (max-width:767px) {
    nav.navbar {
        padding-inline: 1rem;
    }
  
    nav.navbar ul {
        display: none;
    }
  
    nav.navbar .socials {
        display: none;
    }
  
    nav.navbar .hamburger {
        display: block;
    }
  
    /* styling the mobile nav  */
    .mobile-navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        background-color: var(--primary);
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        padding-inline: 2rem;
        transition: 0.5s ease-out all;
    }
  
    .mobile-navbar header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding-top: 1rem;
    }
  
    .mobile-navbar header .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100%;
    }
  
    .mobile-navbar header .top a {
        text-decoration: none;
        color: var(--secondary);
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 300;
    }
  
    .mobile-navbar header .top a span {
        font-weight: 900;
        font-family: sans-serif;
        font-size: 0.9rem;
    }
  
    .mobile-navbar header .top .hamburger {
        color: var(--white);
        font-size: 1.5rem;
        transition: 200ms;
    }
  
    .mobile-navbar header .top .hamburger:hover {
        color: var(--secondary);
    }
  
    .mobile-navbar header ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
  
    .mobile-navbar header ul li {
        margin-bottom: 1.5rem;
    }
  
    .mobile-navbar header ul li a {
        text-decoration: none;
        color: var(--white);
        font-size: 1rem;
        font-family: sans-serif;
        transition: 200ms;
    }
  
    .mobile-navbar header ul li a:hover {
        color: var(--secondary);
        margin-left: 10px;
    }
  
    .mobile-navbar .socials {
        align-self: center;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
  
    .mobile-navbar .socials a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: var(--secondary);
        text-decoration: none;
        border-radius: 5px;
    }
  
    .mobile-navbar .socials a i {
        color: var(--primary);
        font-size: 1.1rem;
    }
  
  }
  
  /* Design for iPad View  */
  @media screen and (min-width:768px) and (max-width:1024px) {
    nav.navbar {
        padding-inline: 1rem;
    }
  
    nav.navbar ul {
        display: none;
    }
  
    nav.navbar .socials {
        display: none;
    }
  
    nav.navbar .hamburger {
        display: block;
    }
  
    /* styling the mobile nav  */
    .mobile-navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        background-color: var(--primary);
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        padding-inline: 2rem;
        transition: 0.5s ease-out all;
    }
  
    .mobile-navbar header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding-top: 1rem;
    }
  
    .mobile-navbar header .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100%;
    }
  
    .mobile-navbar header .top a {
        text-decoration: none;
        color: var(--secondary);
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 300;
    }
  
    .mobile-navbar header .top a span {
        font-weight: 900;
        font-family: sans-serif;
        font-size: 0.9rem;
    }
  
    .mobile-navbar header .top .hamburger {
        color: var(--white);
        font-size: 1.5rem;
        transition: 200ms;
    }
  
    .mobile-navbar header .top .hamburger:hover {
        color: var(--secondary);
    }
  
    .mobile-navbar header ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
  
    .mobile-navbar header ul li {
        margin-bottom: 1.5rem;
    }
  
    .mobile-navbar header ul li a {
        text-decoration: none;
        color: var(--white);
        font-size: 1rem;
        font-family: sans-serif;
        transition: 200ms;
    }
  
    .mobile-navbar header ul li a:hover {
        color: var(--secondary);
        margin-left: 10px;
    }
  
    .mobile-navbar .socials {
        align-self: center;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
  
    .mobile-navbar .socials a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: var(--secondary);
        text-decoration: none;
        border-radius: 5px;
    }
  
    .mobile-navbar .socials a i {
        color: var(--primary);
        font-size: 1.1rem;
    }
  }
  
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
}
body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: url(img/Ohhappiness.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

img {
    max-width: 100%;
    height: auto;
}

.titu{
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 8px 9px 8px black;
}
.cuadro-mision{
    display: flex;
    background-color: white;
    margin: 15px 15px 15px 15px;
    border-radius: 25px;
}
.cuadro-img{
    margin: auto;
    cursor: pointer;
    margin: 30px 20px 30px 20px;
}
.cuadro-img:hover{
    transform: scale(1.1);
    transition: 3s;
}
.cuadro-text{
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
}
.items{
    background-color: white;
    width: 350px;
    border-radius: 15px;
    align-items: center;
    justify-self: center;
    margin-top: 25px;
}
.icono{
    margin-top: 15px;
    margin-bottom: 15px;
}
.des{
    text-align: center;
    margin: 5px 5px 5px 5px;
}
.obj{
    display: flex;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
.obj-em{
    background-color: white;
    border-radius: 25px;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px 50px 50px 50px;
    width: 50%;
}
.met-em{
    background-color: white;
    border-radius: 25px;
    margin: 50px 50px 50px 50px;
    width: 50%;
}
.obj-text{
    margin: 15px 15px 15px 15px;
}
.meta-text{
    margin: 15px 15px 15px 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}

/* Estilos para pantallas peque침as (m칩viles) */
@media screen and (max-width: 600px) {
    body {
        background-size: cover; /* Ajustar el fondo a la pantalla */
    }

    .cuadro-mision {
        flex-direction: column; /* Cambiar a una disposici칩n de columna */
    }

    .cuadro-img {
        margin: 10px; /* Reducir el margen */
    }

    .cuadro-text {
        margin-top: 20px; /* Ajustar el margen superior */
    }

    .obj, .obj-em, .met-em {
        width: 100%; /* Hacer que los elementos ocupen todo el ancho */
        margin: 10px; /* Ajustar el margen */
    }

    .obj-text, .meta-text {
        margin: 10px; /* Ajustar el margen */
    }

    .pie-pagina .grupo-1 {
        grid-template-columns: repeat(1, 1fr); /* Una columna en lugar de tres */
    }

    .pie-pagina .grupo-1 .box figure img {
        display: block; /* Mostrar la imagen en dispositivos m칩viles */
    }
}


.pie-pagina{
    width: 100%;
    background-color: hsla(153, 87%, 61%, 0.243);
    color: #000;
    margin-top: 9vh;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
  } 
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 150px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px;
    
  }
  .pie-pagina .grupo-1 .box p{
    color: #000;
    margin-bottom: 5px;
    
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 90px;
    color: #000;
    margin-right: 10px;
    text-align: center;
    font-size: 30px;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(41, 46, 44);
  }
  .pie-pagina .grupo-2{ 
      background: url(img/Ohhappiness.jpg) no-repeat;
    padding: 15px 10px;
    text-align: center;
    color: #2f3230;
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }
  @media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .pie-pagina .grupo-1 .box figure img{
      width: 150px;
      display: none;
    }
  }
